@import url(https://fonts.googleapis.com/css?family=Charmonman);
html,
body {
    margin: 0;
    background-color: #f1fff1;
    color: #6a0000;
    display: flex;
    flex-direction: column;
}

#header {
    background-color: #c4f0c5;
    width: 100%;
    position: fixed;
}

#logo {
    display: inline-block;
    min-width: 242px;
    margin: 10px;
}

#logo #header-img {
    margin: 2px;
}

#logo #titulo {
    font-family: Charmonman, Arial;
    font-size: 22px;
    display: inline;
    position: relative;
    bottom: 20px;
}

#links {
    display: inline-block;
    width: 45%;
    position: relative;
    bottom: 20px;
    left: 15%;
    border: 2px solid black;
}

#links .nav-link {
    display: inline-block;
    margin: 0 5%;
    border: 2px solid black;
}

a {
    text-decoration: none;
}

.container {
    padding-top: 120px;
    border: 2px solid black;
    width: 80%;
    margin: 0 auto;
}

#form {
    text-align: center;
    margin: 5px 0;
}

#form #label {
    display: inline-block;
    border: 2px solid black;
}

#form #inputs {
    display: inline-block;
    border: 2px solid black;
}

#boton {
    border-radius: 5px;
}

.tarjetas h2 {
    text-align: center;
}

.tarjeta {
    border: 5px solid #1A651B;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    flex-direction: row;
}

.tarjeta i {
    margin: 10px;
    text-align: center;
}

.tarjeta p {
    margin: 5px;
}

#video {
    text-align: center;
}

.diseños h2 {
    text-align: center;
}

.tarjetaH {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
}

.cardH {
    flex-basis: 30%;
    flex-shrink: 0;
    margin-bottom: 20px;
    border: 2px solid black;
}

.imagenes {
    max-width: 25vw;
    height: auto;
}

.chtitulo {
    text-align: center;
}

footer {
    background-color: #be3737;
    margin: 0;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (max-width:790px) {
    #links {
        left: 10%;
    }
}

@media (max-width:375px) {
    #logo {
        display: block;
    }
    #links {
        display: block;
        bottom: 5px;
        left: 10px;
    }
    #links .nav-link {
        display: block;
        margin: 5px 0px;
    }
}