@import url(https://fonts.googleapis.com/css?family=Charmonman);
* {
    margin: 0;
}

body {
    background-color: #f1fff1;
    color: #6a0000;
}

#header {
    background-color: #c4f0c5;
    width: 100%;
    position: fixed;
}

#nav-bar {
    display: flex;
    justify-content: space-around;
}


/* Configuracion Logo */

#logo {
    min-width: 220px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo #header-img {
    display: block;
    max-width: 5vh;
    height: auto;
}

#logo #titulo {
    font-family: Charmonman, Arial;
    font-size: 22px;
    margin-left: 5px;
}


/*  Fin Configuracion Logo */

#links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:link,
a:visited,
a:hover {
    color: #6a0000;
}

.relleno {
    height: 93px;
    background-color: transparent;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
}


/* formulario */

#form {
    text-align: center;
    margin: 10px 0;
}

#form #label {
    display: inline-block;
}

#form #inputs {
    display: inline-block;
}

#boton {
    border-radius: 5px;
}


/* fin formulario */

.tarjetas {
    width: 80%;
    ;
}

.tarjetas h2 {
    text-align: center;
}

.tarjeta {
    border: 5px solid #1A651B;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    flex-direction: row;
}

.tarjeta i {
    margin: 10px;
    text-align: center;
}

.tarjeta p {
    margin: 5px;
}

.video {
    margin: 50px 0px;
    display: flex;
}

.diseños {
    width: 80%;
}

.diseños h2 {
    text-align: center;
    margin: 20px;
}

.tarjetaH {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardH {
    margin-bottom: 20px;
}

.imagenes {
    max-width: 20vw;
    height: auto;
}

.chtitulo {
    text-align: center;
}

footer {
    background-color: #be3737;
    margin: 0;
    margin-top: 20px;
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (max-width:415px) {
    #nav-bar {
        flex-direction: column;
        align-items: center;
    }
    #links {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
    }
    .container {
        padding-top: 10px;
    }
    iframe {
        width: 350px;
        height: 197px;
    }
    .tarjetaH {
        flex-direction: column;
    }
    .imagenes {
        max-width: 30vh;
        ;
    }
    .relleno {
        height: 170px;
    }
}

@media (max-width:395px) {
    iframe {
        width: 280px;
        height: 158px;
    }
}